* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 30pt;
    text-align: center;
}

header {
    width: 100%;
    height: 20vh;
    background-color: #49c5d8;
}


nav {
    width: 400px;
    height: 60px;
    background-color: rgb(223, 66, 18);
    float: right;
    margin: 0 auto;
}


aside {
    width: 10%;
    height: 70vh;
    background-color: #39a350;
    float: left;
}

main {
    width: 90%;
    height: 70vh;
    background-color: #1cc5687e;
    float: right;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: #f128d096;
    position: absolute;
    bottom: 0;
}